.eintrag {
  text-align: center;
  border: 1px solid rgb(60, 120, 177); 
  box-sizing: border-box;
  width: 100%;
  min-height: 25vh;
  background-color: rgb(13, 178, 219);
  overflow: none;
  position: relative;

}

.eintrag-aktiv {
  text-align: center;
  overflow: none;
  box-sizing: border-box;
  width: 100%;
  min-height: 25vh;
  overflow: auto;
  position: relative;
  background-color: skyblue; 
}

.titel {
  font-size: calc(10px + 2.5vmin);
}

.infos {
  font-size: calc(10px + 1vmin);
  padding-bottom: 10px;
}

.time {
  font-size: calc(10px + 2.5vmin);
}

.left {
  position: absolute;
  border-right: 2px solid rgb(60, 120, 177);
  width: 15%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.right{
  position: absolute;
  left: 15%;
  width: 85%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}