
.side-drawer{
  height: 100%;
  background:white;
  box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
  position: fixed;
  top : 0;
  right : 0;
  width: 75%;
  z-index: 200;
  transform: translateX(100%);
  transition: ease-in 0.25s;
  background-color: rgb(13, 178, 219);
}

.side-drawer.open{
  transform: translateX(0);
  transition: ease-out 0.4s;
}

.side-drawer ul{
  list-style: none;
  display: flex;
  flex-direction: column;
}


@media (min-width: 768px){
  .side-drawer{
    width : 50%;
    transform: translateX(0);
  }
}


select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: 7vh;
  padding-left: 10px;
  background-color: rgb(60, 120, 177);
  color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  font-size: calc(10px + 2.5vmin);

  /*   box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3); 
  border-radius: 3px;  */

  outline: none;

  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

select option {
  color: rgb(255, 255, 255);
}

select:focus::-ms-value {
  background-color: transparent;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::before {
  content: "\25BC";
  font-size: 20px;
  position: absolute;
  right: 2vw;
  top: 2vh;
  color: rgb(255, 255, 255);
}

input[type=submit] {
  background-color: rgb(60, 120, 177);
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(15px + 3vmin);
  cursor: pointer;
}

.settings {
  height: 9vh;
  text-align: center;
  font-size: calc(15px + 5vmin);
  font-weight: bold;
  margin: 3vh;
}

.form {
  text-align: center;
  font-size: calc(10px + 3vmin);
}