.side-drawer{
  height: 100%;
  background:white;
  box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
  position: fixed;
  top : 0;
  right : 0;
  width: 75%;
  z-index: 200;
  transform: translateX(100%);
  transition: ease-in 0.25s;
}

.side-drawer.open{
  transform: translateX(0);
  transition: ease-out 0.4s;
}

.side-drawer ul{
  list-style: none;
  display: flex;
  flex-direction: column;
}


@media (min-width: 768px){
  .side-drawer{
    width : 50%;
    transform: translateX(0);
  }
}