.side-drawer{
  height: 100%;
  background:white;
  box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
  position: fixed;
  top : 0;
  right : 0;
  width: 75%;
  z-index: 200;
  transform: translateX(100%);
  transition: ease-in 0.25s;
}

.side-drawer.open{
  transform: translateX(0);
  transition: ease-out 0.4s;
}

.side-drawer ul{
  list-style: none;
  display: flex;
  flex-direction: column;
}


@media (min-width: 768px){
  .side-drawer{
    width : 50%;
    transform: translateX(0);
  }
}



.dropbtn {
  background: #eee;
  color: black;
  padding: 16px;
  width: 100%;
  font-size: calc(10px + 4vmin);
  height: 10vh;
  border: none;
  cursor: pointer;
}



.dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  z-index: 1;
}

.dropdown-content.show{
  display: flex;
  width: 100%;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
}

.show {display: block;}

.el{
  color: black;
  width: 100%;
  font-size: 15px;
 
  display: block;
  text-align: center;
}

.el.hide {
  display: none;
}