.App-header {
  width: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  position: sticky;
  top: 0rem;
  align-self: flex-start;
  z-index: 1;
  height: 9vh;
  border-bottom: 1vh solid rgb(220, 220, 220);
}

.woche {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 4vmin);
  text-decoration: none;
  color: inherit;
  float: left;
  box-sizing: border-box;
  margin: auto;
  width: 50%;
  height: 100%;
}


.active {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 4vmin);
  text-decoration: none;
  color: inherit;
  float: left;
  border-bottom: 5px solid blue;
  box-sizing: border-box;
  margin: auto;
  width: 50%;
  height: 100%;
}


@media(min-width : 768px){
  .App-header{
    width: 50%;
  }
}