.App-header {
  width: 100%;
  display: flex;
  position: sticky;
  top: 0rem;
  align-self: flex-start;
  z-index: 1;
  height: 9vh;
  background-color: rgb(13, 178, 219);
  border-bottom: 8px solid rgb(60, 120, 177);
}

.woche {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 5vmin);
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  float: left;
  box-sizing: border-box;
  margin: auto;
  width: 50%;
  height: 100%;
}


.active {
  background-color : rgb(60, 120, 177);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 5vmin);
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  float: left;
  padding-top: 5px;
  box-sizing: border-box;
  margin: auto;
  width: 50%;
  height: 100%;
}


@media(min-width : 768px){
  .App-header{
    width: 50%;
  }
}