.App-header {
  width: 100%;
  background: #eee;
  display: flex;
  position: sticky;
  bottom: 0rem;
  align-self: flex-end;
  height: 10vh;
}

.woche {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 4vmin);
  text-decoration: none;
  color: inherit;
  float: left;
  border: 1px solid grey;
  box-sizing: border-box;
  margin: auto;
  width: 50%;
  height: 100%;
}

@media(min-width : 768px){
  .App-header{
    width: 50%;
  }
}