.liststyle{
position: fixed;
width: 100%;
}

.element{
border-bottom-style: solid;
font-weight: bold;
font-size: 30px;
text-align:center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 90%;
  overflow : auto;
}
